<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Popular Movies | Rog-Time</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <%- include('partials/nav.ejs') %>

  <main>
    <h1>Popular Movies</h1>

    <div class="movie-grid">
      <% popularMovies.forEach(function(element) { %>
        <div class="movie-poster">
<a href="/movies/<%= element.id %>">
  <img src="https://image.tmdb.org/t/p/w300<%= element.poster_path %>" alt="<%= element.title %>">
</a>
<p><%= element.title %></p>
        </div>
      <% }) %>
    </div>
  </main>
</body>
</html>